{ config, pkgs, ... }:
{
  services.k3s = {
    enable = true;
    role = "{{ .Role }}"; 
    token = "{{ .Token }}";
    {{ if eq .Role "agent" }}
    serverAddr = "https://{{ .ControllerIP }}:6443";
    {{ else }}
    clusterInit = {{ .ClusterInit }}; 
    {{ end }}
  };
  
  networking.firewall.allowedTCPPorts = [ 6443 ];
  networking.firewall.allowedUDPPorts = [ 8472 ];
}